<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>YouTube Playback Extension Configuration</title>
    <link rel="stylesheet" href="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/js/coral.min.js" data-coral-icons-external="js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <div id="no-extension-configuration-needed">
      <h3 class="coral-Heading--M">No configuration necessary</h3>
    </div>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Extension works</h4>
      <ol>
        <li class="coral-List-item">
          Create a new Rule or open an existing Rule, for example, one with a "Window Loaded"
          Event.
        </li>
        <li class="coral-List-item">
          <i>(optional)</i> Add the <span class="text-underline">"Load YouTube IFrame API
          script"</span> Action.
        </li>
        <li class="coral-List-item">
          <b>Add the <span class="text-underline">"Enable video playback tracking"</span>
          Action.</b><br />
          If the "Load YouTube IFrame API script" Action was not used, then this Action allows you
          to load the YouTube IFrame API script.
        </li>
      </ol>
      <p>
        <b>Then add the appropriate Events in your Rules to track YouTube video playback
        interactions.</b><br />
        Refer to each Event's table of Data Elements that you can use in your Rules' Conditions
        and Actions.
      </p>
      <p>
        <b>Use the appropriate Data Elements in your Rules to retrieve data about the YouTube
          video playback interactions, like the player's state, current time, video URL,
          etc.</b><br />
        More information is available when setting up the Data Element.
      </p>
    </section>

    <div id="extension-configuration-container">
      <form id="extension-configuration" class="coral-Form">
        <h4 class="coral-Heading--S coral-Heading--light">Extension Configuration</h4>

        <div id="use-legacy-settings-container" class="coral-FormGroup-item">
          <label class="coral-FormGroup-itemLabel coral-FieldLabel--left">
            When the extension is loaded
            <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
          </label>
          <coral-radiogroup orientation="vertical">
            <coral-radio name="useLegacySettings" value="no" checked="">
              Do not setup YouTube video playback tracking (preferred)
            </coral-radio>
            <coral-radio name="useLegacySettings" value="yes">
              Setup YouTube video playback tracking <em>(warning: deprecated!)</em>
            </coral-radio>
          </coral-radiogroup>
        </div>

        <div id="legacy-extension-settings-container" class="hide">
          <coral-alert variant="warning">
            <coral-alert-header>
              These settings have been deprecated!
            </coral-alert-header>
            <coral-alert-content>
              You should add an Action in an appropriate Rule to enable video playback tracking with
              your YouTube players.<br />
              Refer to the "How this Extension works" description above.
            </coral-alert-content>
          </coral-alert>

          <div id="element-specificity-container" class="coral-FormGroup-item">
            <label class="coral-FormGroup-itemLabel coral-FieldLabel--left">
              Use this extension with
              <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
            </label>
            <coral-radiogroup orientation="vertical">
              <coral-radio name="elementSpecificity" value="any" checked="">
                any player
              </coral-radio>
              <coral-radio name="elementSpecificity" value="specific">
                specific players
              </coral-radio>
            </coral-radiogroup>
          </div>

          <div id="elements-selector-container" class="coral-FormGroup-item hide">
            <label for="elements-selector" class="coral-FormGroup-itemLabel coral-FieldLabel--left">
              Players matching the CSS selector
            </label>
            <div class="coral-InputGroup" style="width: 100%" role="presentation">
              <input id="elements-selector" name="elementsSelector" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="CSS selector of specific players">
              <span class="coral-InputGroup-button">
                <button is="coral-button" icon="data" title="Data Element selector"></button>
              </span>
              <span style="margin-left: 1em; white-space: nowrap;">
                <a class="coral-Link" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Selectors" rel="noopener noreferrer" target="_blank">
                  Learn more
                </a>
              </span>
            </div>
            <coral-alert>
              <coral-alert-header>
                Important!
              </coral-alert-header>
              <coral-alert-content>
                Only the players that match this CSS selector will be able to work with the YouTube
                playback events provided by this extension.
              </coral-alert-content>
            </coral-alert>
          </div>

          <div id="load-youtube-iframe-api-container">
            <div class="coral-FormGroup-item">
              <coral-checkboxgroup orientation="vertical">
                <coral-checkbox name="loadYoutubeIframeApi" value="yes" checked="">
                  Load YouTube IFrame API script if it hasn't been loaded yet.
                </coral-checkbox>
                Uncheck this checkbox if you want to control when the YouTube IFrame API script is
                loaded, for example, after the user has given consent. (In that case, use the "Load
                YouTube IFrame API script" Action.) If you are not sure, leave this checkbox as
                checked.
              </coral-checkboxgroup>
            </div>
          </div>

          <div id="window-event-container" class="coral-FormGroup-item">
            <label class="coral-FormGroup-itemLabel coral-FieldLabel--left">
              YouTube players should be enabled to use the IFrame API
              <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
            </label>
            <coral-radiogroup orientation="vertical">
              <coral-radio name="windowEvent" value="immediately" checked="">
                immediately when the page loads
              </coral-radio>
              <coral-radio name="windowEvent" value="window-loaded">
                at Window Loaded
              </coral-radio>
            </coral-radiogroup>
          </div>
        </div>
      </form>
    </div>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-youtube-playback/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-youtube-playback/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2020 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var FORM_ID = 'extension-configuration';

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // this setting was added in v1.2.0
            if (!info.settings.hasOwnProperty('useLegacySettings')) {
              info.settings.useLegacySettings = 'yes';
            }
            // this setting was added in v1.3.0
            if (!info.settings.hasOwnProperty('loadYoutubeIframeApi')) {
              info.settings.loadYoutubeIframeApi = 'yes';
            }
            if (info.settings.loadYoutubeIframeApi === 'no') {
              // rewrite this value to be a valid checkbox input value for "false" checked state
              info.settings.loadYoutubeIframeApi = '';
            }

            setFormValues(FORM_ID, info.settings);
          }

          toggleElement(
            FORM_ID, 'elementSpecificity', 'specific', '#elements-selector-container'
          );
          toggleElement(
            FORM_ID, 'useLegacySettings', 'yes', '#extension-configuration-container'
          );
          toggleElement(
            FORM_ID, 'useLegacySettings', 'yes', '#legacy-extension-settings-container'
          );
          toggleElement(
            FORM_ID, 'useLegacySettings', 'no', '#no-extension-configuration-needed'
          );
        },

        getSettings: function() {
          var formValues = getFormValues(FORM_ID);

          if (formValues.useLegacySettings === 'no') {
            // reset all legacy settings to their defaults
            formValues.elementSpecificity = 'any';
            formValues.elementsSelector = '';
            formValues.windowEvent = 'window-loaded';
            formValues.loadYoutubeIframeApi = 'yes';
          }

          if (formValues.loadYoutubeIframeApi === '') {
            // rewrite this value so as not to deal with empty strings
            formValues.loadYoutubeIframeApi = 'no';
          }

          if (formValues.elementSpecificity === 'any') {
            formValues.elementsSelector = '';
          }

          return formValues;
        },

        validate: function() {
          var coralTextFieldSelector = 'input[is="coral-textfield"]';
          document.querySelectorAll(coralTextFieldSelector).forEach(function(input) {
            input.removeAttribute('invalid');
          });
          var errorTextFieldSelector = coralTextFieldSelector + '[name="fieldName"]';

          var formValues = getFormValues(FORM_ID);

          var useLegacySettings = formValues.useLegacySettings;
          var elementSpecificityValue = formValues.elementSpecificity;
          var elementsSelectorValue = formValues.elementsSelector;
          var loadYoutubeIframeApi = formValues.loadYoutubeIframeApi;
          var windowEventValue = formValues.windowEvent;

          var useLegacySettingsIsValid = ['no', 'yes'].includes(useLegacySettings);

          var elementSpecificityValueIsValid =
            ['any', 'specific'].includes(elementSpecificityValue);

          var elementsSelectorValueIsValid = elementSpecificityValue === 'any' ?
            true :
            elementsSelectorValue.length > 0;
          if (!elementsSelectorValueIsValid) {
            var selector = errorTextFieldSelector.replace('fieldName', 'elementsSelector');
            document.querySelectorAll(selector).forEach(function(input) {
              input.setAttribute('invalid', '');
            });
          }

          var loadYoutubeIframeApiIsValid = ['', 'yes'].includes(loadYoutubeIframeApi);

          var windowEventValueIsValid =
            ['immediately', 'window-loaded'].includes(windowEventValue);

          return useLegacySettingsIsValid &&
            elementSpecificityValueIsValid &&
            elementsSelectorValueIsValid &&
            loadYoutubeIframeApiIsValid &&
            windowEventValueIsValid;
        }
      });

      /**
       * When the data element selector coral-icon button is clicked,
       * open Launch's data element selector,
       * then set the coral-icon's nearest input with the selected data element.
       */
       document.querySelectorAll('button[icon="data"]').forEach(function(button) {
        button.addEventListener('click', function(e) {
          var inputElement = this.closest('div.coral-InputGroup').querySelector('input');
          window.extensionBridge.openDataElementSelector().then(function(dataElement) {
            inputElement.value = dataElement;
          });
        });
      });

      var useLegacySettingsRadioSelector = '#use-legacy-settings-container coral-radio';
      document.querySelectorAll(useLegacySettingsRadioSelector).forEach(function(radio) {
        radio.addEventListener('click', function(event) {
          toggleElement(FORM_ID, 'useLegacySettings', 'yes', '#legacy-extension-settings-container');
        });
      });

      var elementSpecificityRadioSelector = '#element-specificity-container coral-radio';
      document.querySelectorAll(elementSpecificityRadioSelector).forEach(function(radio) {
        radio.addEventListener('click', function(event) {
          toggleElement(FORM_ID, 'elementSpecificity', 'specific', '#elements-selector-container');
        });
      });
    </script>
  </body>
</html>
