<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>YouTube Playback Extension Configuration</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/spectrum/2.9.0/spectrum-light.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="//use.typekit.net/buj6cmr.js"></script>
    <script src="//assets.adobedtm.com/6c27c1e662c8/609b9fc08c83/launch-54e6abf50de0.min.js" async></script>
  </head>
  <body class="spectrum spectrum--light spectrum-Body">
    <form id="event-configuration" class="spectrum-Form">
      <h4 class="spectrum-Heading4">Extension Configuration</h4>
      <p>
        Specify the YouTube players to be used with this extension.
      </p>
      <p>
        <b>Important!</b> Only the players that you specify here will be able
        to work with the YouTube playback events provided by this extension.
      </p>
      <div id="element-specificity" class="spectrum-FieldGroup" role="radiogroup" value="players">
        <label class="spectrum-Radio">
          <input class="spectrum-Radio-button" type="radio" name="elementSpecificity" value="any" checked="true">
          <span class="spectrum-Radio-label">any player</span>
        </label>
        <label class="spectrum-Radio">
          <input class="spectrum-Radio-button" type="radio" name="elementSpecificity" value="specific">
          <span class="spectrum-Radio-label">specific players</span>
        </label>
      </div>
      <div id="elements-selector">
        <span>Players matching the CSS selector</span>
        <label>
          <input type="text" name="elementsSelector" value="">
        </label>
        <a class="spectrum-Link" href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Selectors" rel="noopener noreferrer" target="_blank">Learn more</a>
      </div>
      <p>&nbsp;</p>
      <p>
        Specify when the YouTube players should be enabled to use the IFrame
        API.
      </p>
      <div id="window-event" class="spectrum-FieldGroup" role="radiogroup" value="window-event">
        <label class="spectrum-Radio">
          <input class="spectrum-Radio-button" type="radio" name="windowEvent" value="immediately">
          <span class="spectrum-Radio-label">immediately when the page loads</span>
        </label>
        <label class="spectrum-Radio">
          <input class="spectrum-Radio-button" type="radio" name="windowEvent" value="window-loaded" checked="true">
          <span class="spectrum-Radio-label">at Window Loaded</span>
        </label>
      </div>
      <p>
        It is safer to enable the YouTube players at Window Loaded. This allows
        the browser to load all of the page's contents, including the YouTube
        players, before this extension attempts to enable the players.
      </p>
    </form>

    <footer class="spectrum-Body--small text footer">
      <p>Copyright &copy; 2020 Yuhui. All rights reserved.</p>
      <p>
        <a href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            var elementSpecificity = info.settings.elementSpecificity;
            var elementsSelector = info.settings.elementsSelector;
            var windowEvent = info.settings.windowEvent || 'window-loaded';

            var eventConfigurationForm = getForm();
            eventConfigurationForm.elementSpecificity.value =
              elementSpecificity;
            eventConfigurationForm.elementsSelector.value =
              elementSpecificity === 'any' ?
              '' :
              elementsSelector;
            eventConfigurationForm.windowEvent.value = windowEvent;
          }
        },

        getSettings: function() {
          var formValues = getFormValues();
          var elementSpecificityValue = formValues.elementSpecificity;
          var elementsSelectorValue = formValues.elementsSelector;
          var windowEventValue = formValues.windowEvent;

          if (elementSpecificityValue === 'any') {
            elementsSelectorValue = '';
          }

          var settings = {
            elementSpecificity: elementSpecificityValue,
            elementsSelector: elementsSelectorValue,
            windowEvent: windowEventValue
          };

          return settings;
        },

        validate: function() {
          var formValues = getFormValues();
          var elementSpecificityValue = formValues.elementSpecificity;
          var elementsSelectorValue = formValues.elementsSelector;
          var windowEventValue = formValues.windowEvent;

          var elementSpecificityValueHasValue =
            elementSpecificityValue.length > 0;
          var elementsSelectorValueHasValue =
            elementSpecificityValue === 'any' ?
            true :
            elementsSelectorValue.length > 0;
          var windowEventValueHasValue = ['window-loaded', 'immediately']
            .indexOf(windowEventValue) > -1;

          return elementSpecificityValueHasValue &&
            elementsSelectorValueHasValue && windowEventValueHasValue;
        }
      });
    </script>
  </body>
</html>
