<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>YouTube Video Paused Event</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/spectrum/2.9.0/spectrum-light.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="//use.typekit.net/buj6cmr.js"></script>
  </head>
  <body class="spectrum spectrum--light spectrum-Body">
    <h4 class="spectrum-Heading4">No configuration necessary</h4>

    <section>
      <h5 class="spectrum-Heading5">How this Event works</h5>
      <p>
        This Event is triggered when the YouTube player has paused a video.
      </p>
      <p>
        The following Data Elements are available for use with your Rule's Conditions and Actions.
      </p>
      <table class="spectrum-Table">
        <tr class="spectrum-Table-row">
          <th class="spectrum-Table-headCell">Data Element</th>
          <th class="spectrum-Table-headCell">Data type</th>
          <th class="spectrum-Table-headCell">Value</th>
        </tr>
        <tbody class="spectrum-Table-body">
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Player State
            </td>
            <td class="spectrum-Table-cell">
              String
            </td>
            <td class="spectrum-Table-cell">
              Fixed value: <code>video paused</code>
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Current Time
            </td>
            <td class="spectrum-Table-cell">
              Floating point number
            </td>
            <td class="spectrum-Table-cell">
              Elapsed time in seconds since the video started playing.
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Duration
            </td>
            <td class="spectrum-Table-cell">
              Integer
            </td>
            <td class="spectrum-Table-cell">
              Duration in seconds of the currently playing video.
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Muted
            </td>
            <td class="spectrum-Table-cell">
              Boolean
            </td>
            <td class="spectrum-Table-cell">
              Whether the video is muted (<code>true</code>) or unmuted
              (<code>false</code>).
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Playback Rate
            </td>
            <td class="spectrum-Table-cell">
              Floating point number
            </td>
            <td class="spectrum-Table-cell">
              Playback rate of the currently playing video.
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Loaded Fraction
            </td>
            <td class="spectrum-Table-cell">
              Floating point number
            </td>
            <td class="spectrum-Table-cell">
              Fraction of the video between <code>0</code> and <code>1</code> that the player shows
              as buffered.
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video URL
            </td>
            <td class="spectrum-Table-cell">
              String
            </td>
            <td class="spectrum-Table-cell">
              YouTube.com URL for the currently loaded/playing video.
            </td>
          </tr>
          <tr class="spectrum-Table-row">
            <td class="spectrum-Table-cell">
              Video Volume
            </td>
            <td class="spectrum-Table-cell">
              Integer
            </td>
            <td class="spectrum-Table-cell">
              The player's current volume between <code>0</code> and <code>100</code>.
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer class="spectrum-Body--small text footer">
      <p>Support Information</p>
      <ul>
        <li>
          <a href="https://github.com/yuhui/launchext-youtube-playback/issues" target="_blank">
            Open a ticket
          </a>
        </li>
        <li>
          <a href="https://github.com/yuhui/launchext-youtube-playback/blob/master/CHANGELOG.md" target="_blank">
            Read change log
          </a>
        </li>
      </ul>

      <p>Copyright &copy; 2020 Yuhui. All rights reserved.</p>
      <p>
        <a href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {}
        },

        getSettings: function() {
          return {};
        },

        validate: function() {
          return true;
        }
      });
    </script>
  </body>
</html>
