<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>YouTube Video Milestone Event</title>
    <link rel="stylesheet" href="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/js/coral.min.js" data-coral-icons-external="js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="event-configuration" class="coral-Form coral-FormGroup--labelsAbove">
      <h4 class="coral-Heading--M">Setup Video Milestones</h4>

      <div id="fixed-milestone-container" class="coral-FormGroup-item">
        <label for="fixed-milestone-amounts" class="coral-FormGroup-itemLabel">
          At fixed thresholds of
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="fixed-milestone-amounts" name="fixedMilestoneAmounts" value="25, 50, 75" class="coral-InputGroup-input" is="coral-textfield">
          <coral-select id="fixed-milestone-unit" name="fixedMilestoneUnit" class="coral-Form-field">
            <coral-select-item value="percent" selected="">per cent</coral-select-item>
            <coral-select-item value="seconds">seconds</coral-select-item>
          </coral-select>
          <coral-icon icon="info" title="Info" size="S"></coral-icon>
          <coral-tooltip target="_prev" variant="info" placement="right" offset="8">
            Example: 25, 50, 75
          </coral-tooltip>
        </div>
      </div>
    </form>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Event works</h4>
      <p>
        This Event is triggered when the YouTube player has reached a particular moment
        ("milestone") in the playing video.
      </p>
      <coral-alert>
        <coral-alert-header>
          Important! For Live broadcasts / Live streams and Premieres
        </coral-alert-header>
        <coral-alert-content>
          <ul>
            <li>
              Percentage-based milestone tracking does not work with live videos because the video
              duration is unknown.
            </li>
            <li>
              Seconds-based milestones are tracked <u>after</u> the user had started playing the
              video. For example:
              <ul>
                <li>You setup milestones for 30, 60 and 120 seconds.</li>
                <li>
                  The user starts playing the video when it is 24 minutes 18 seconds <em>after</em>
                  the live video had started.
                </li>
                <li>
                  Then, milestones are tracked at the following times:
                  <ul>
                    <li>24 minutes 48 seconds (30 seconds after the video's start time)</li>
                    <li>25 minutes 18 seconds (60 seconds after the video's start time)</li>
                    <li>26 minutes 18 seconds (120 seconds after the video's start time)</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </coral-alert-content>
      </coral-alert>
      <p>
        The following Data Elements are available for use with your Rule's Conditions and Actions.
      </p>
      <table is="coral-table" variant="quiet">
        <colgroup>
          <col is="coral-table-column" sortable="" sortabledirection="ascending">
          <col is="coral-table-column" sortable="" sortabledirection="ascending">
          <col is="coral-table-column">
        </colgroup>
        <thead is="coral-table-head">
          <tr is="coral-table-row">
            <th is="coral-table-headercell">Data Element</th>
            <th is="coral-table-headercell">Data type</th>
            <th is="coral-table-headercell">Value</th>
          </tr>
        </thead>
        <tbody is="coral-table-body">
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Player State
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Fixed value: <code class="coral-Code--S">video milestone</code>
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Current Time
            </td>
            <td is="coral-table-cell">
              Integer
            </td>
            <td is="coral-table-cell">
              Elapsed time in seconds since the video started playing, indicated by the playhead
              position.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Duration
            </td>
            <td is="coral-table-cell">
              Integer
            </td>
            <td is="coral-table-cell">
              Duration in seconds of the currently playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video ID
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              YouTube ID of the currently loaded/playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Loaded Fraction
            </td>
            <td is="coral-table-cell">
              Floating point number
            </td>
            <td is="coral-table-cell">
              Fraction of the video between <code class="coral-Code--S">0</code> and
              <code class="coral-Code--S">1</code> that the player shows as buffered.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Milestone
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Milestone that has been played for the currently playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Muted
            </td>
            <td is="coral-table-cell">
              Boolean
            </td>
            <td is="coral-table-cell">
              Whether the video is muted (<code class="coral-Code--S">true</code>) or unmuted
              (<code class="coral-Code--S">false</code>).
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Playback Rate
            </td>
            <td is="coral-table-cell">
              Floating point number
            </td>
            <td is="coral-table-cell">
              Playback rate of the currently playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Title
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              YouTube title of the currently loaded/playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Type
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              YouTube type of the currently loaded/playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video URL
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              YouTube URL of the currently loaded/playing video.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Video Volume
            </td>
            <td is="coral-table-cell">
              Integer
            </td>
            <td is="coral-table-cell">
              The player's current volume between <code class="coral-Code--S">0</code> and
              <code class="coral-Code--S">100</code>.
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-youtube-playback/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-youtube-playback/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>Copyright &copy; 2021 Yuhui. All rights reserved.</p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'event-configuration';

      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {
            // convert array of integers to comma-separated string
            info.settings.fixedMilestoneAmounts = info.settings.fixedMilestoneAmounts.join(', ');

            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: () => {
          const formValues = getFormValues(FORM_ID);

          // convert string values to array of integers
          formValues.fixedMilestoneAmounts = splitStringToInt(formValues.fixedMilestoneAmounts);

          return formValues;
        },

        validate: () => {
          const coralTextFieldSelector = 'input[is="coral-textfield"]';
          document.querySelectorAll(coralTextFieldSelector).forEach((input) => {
            input.removeAttribute('invalid');
          });
          const errorTextFieldSelector = `${coralTextFieldSelector}[name="fieldName"]`;

          const formValues = getFormValues(FORM_ID);

          const fixedMilestoneAmounts = formValues.fixedMilestoneAmounts;
          const fixedMilestoneUnit = formValues.fixedMilestoneUnit;

          const fixedMilestoneAmountsArr = splitStringToInt(fixedMilestoneAmounts);
          const fixedMilestoneAmountsAreNotBlank = fixedMilestoneAmountsArr.length > 0;
          const fixedMilestoneAmountsAreIntegers = fixedMilestoneAmountsArr.every((value) => {
              return valueIsInteger(value);
            });
          const fixedMilestoneAmountsAreValid = fixedMilestoneAmountsAreNotBlank &&
            fixedMilestoneAmountsAreIntegers;
          if (!fixedMilestoneAmountsAreValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'fixedMilestoneAmounts');
            document.querySelectorAll(selector).forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          const fixedMilestoneUnitIsValid = ['percent', 'seconds'].includes(fixedMilestoneUnit);

          return fixedMilestoneAmountsAreValid && fixedMilestoneUnitIsValid;
        }
      });

      /**
       * Split a string into an array of integers.
       */
      function splitStringToInt(string) {
        return string.split(',').map((value) => {
          const numberMatch = value.match(/([0-9]+)/);
          return numberMatch ? parseInt(numberMatch[1]) : null;
        }).filter(function(value) {
          return value !== null;
        });
      }
    </script>
  </body>
</html>
